
@using Trolllo.Constans
@model IEnumerable<Trolllo.Models.UserWithRoleModel>

@{
    ViewBag.Title = "ManageManagers";
}

<div class="form-group">
    <div class="col-md-10">
        @using (Ajax.BeginForm("FiltrUsersWithRoles", "Admin", new AjaxOptions() { UpdateTargetId = "tableOfUsers", HttpMethod = "GET", InsertionMode = InsertionMode.Replace }))
        { 
            @Html.DropDownList("selectedRoleFromDropdown", ViewData["AllRoles"] as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
            <input type="submit" value="search" />
        }
    </div>
</div>
<h2>ManageManagers</h2>
<div id="tableOfUsers">
    @Html.Partial("_UserAdminPartial",Model);
</div>
