
@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="jumbotron backgroundedImageCard">
        <h1>Projektmania</h1>
        <p class="lead">Projektmania to serwis, w którym mozesz ogladac rozne projektyu, ze wszystkich stron swiata!!</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12 backgroundedImageCard customHeight">
                <div class="custom20HeightWP bigText center">
                    Wystartuj
                </div>
                <div class="custom60HeightWP">
                    <span>
                        Ta strona daje Ci możliwość podzielenia się swoim projektem z innymi, a także znalezienia kogoś, kto móglby pomóc w realizacji Twojego marzenia!
                        Dodaj swoj pierwszy projekt
                    </span>
                </div>
                <div class="custom20HeightWP center">
                    <a class="btn btn-success" href="add">Dodaj &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 backgroundedImageCard customHeight">
                <div class="custom20HeightWP bigText center">
                    Nie masz pomysłu?
                </div>
                <div class="custom60HeightWP">
                    <span>Sprawdz bazę naszych projektów! mamy ich pełno! Może znajdzie się coś godnego Twojej uwagi lub natchnie Cię do zmiany swojego życia!</span>
                </div>
                <div class="custom20HeightWP center">
                    <a class="btn btn-info" href="/Projects">Wyszukaj &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>
